html{
    font-family: Roboto;
    text-align: center;
    justify-content: center;
}
nav a{
    color: #cdab8a;
}
h2{
    color: #325475;
    
}

article.works{
    display: inline-block;
    padding: 10px;
}
