* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 1rem 3rem;
}
button {
  font-style: none;
  border-color: transparent;
  background-color: transparent;
}
li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.item {
  border-bottom: 0.1rem;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-style: solid;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.242);
}

.item > div {
  display: flex;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.fill {
  display: none;
}

.minus {
  background-color: rgba(112, 112, 114, 0.413);
  padding: 0.3rem 0.8rem;
  border-radius: 8%;
}

.plus {
  background-color: rgba(23, 23, 230, 0.463);
  padding: 0.3rem 0.8rem;
  border-radius: 8%;
}

.delete {
  background-color: rgba(230, 23, 23, 0.463);
  padding: 0.3rem 0.8rem;
  border-radius: 8%;
}

.TotalPrice {
  display: flex;
  justify-content: end;
  padding: 1rem 3rem;
}
